@model IEnumerable<Servicio_Adicional>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_maleta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Viaje)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_maleta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Viaje)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
