@model IEnumerable<Pasajero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Id")
        </th>
        <th>
            @Html.DisplayName("Tipo Identificacion")
        </th>
        <th>
            @Html.DisplayName("Numero del Identificacion")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item   in ViewData["Pasajeros"] as List<Pasajero>) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Pasajero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Ident)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_Ident)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Numero_Ident,type =item.Tipo_Ident }) |
            @Html.ActionLink("Delete", "Delete", new { Num_Ident = item.Numero_Ident,id= item.Id_Pasajero, type = item.Tipo_Ident })
        </td>
    </tr>
}

</table>
